# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd
*.pyo
*.pdb
*.egg-info/
dist/
build/
.eggs/
*.egg
*.log

# Virtual environments
.venv/
venv/
env/
ENV/
.Python

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env
.env.*

# AWS SAM/Serverless
.aws-sam/
.serverless/
.cache/

# Lambda deployment packages
*.zip

# Node/React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
coverage.xml

# Misc
*.sqlite3
*.db
*.bak
*.swp
*~
